# Start up the Websockets server project of the admin user
[Unit]
Description=Start WebSocket Server
After=network.target

[Service]
User=websocket_server
Type=simple
ExecStart=/bin/bash -c 'exec /usr/bin/node /home/websocket_server/WebSocketServer/src/index.js >> /home/websocket_server/WebSocketServer/websocket.log 2>&1'
Restart=on-failure

[Install]
WantedBy=multi-user.target

